html
  head
    title= 'Morgan Aw | Maker of Awsome stuff'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name="description" content="Morgan Aw's personal website")
    meta(name="author" content="Morgan Aw")
    meta(name="keywords"
       content="Morgan, Aw, Morgan Aw, software, programmer, software programmer, software developer")
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='css/prettify.css', rel='stylesheet')
    link(rel="icon" type="image/png" href="images/favicon.ico")

    body
      div(id="content")
        h1 Welcome to Morgan Aw's personal site!
        h3 Please excuse me for the lack of content at the moment. I'm working on getting <a href="https://github.com/MorganCAw/morganaw.com/tree/v2.0">v2.0</a> up and running when I get the chance but feel free to check out <a href="./v1">v1.0</a> of my site.