html
  head
    title.
      Morgan Aw - Software Developer, Gaming Enthusiast, Amateur Chef

    meta(name="description" content="Morgan Aw's personal website")
    meta(name="keywords"
         content="Morgan, Aw, Morgan Aw, software, programmer, software programmer, software developer")
    meta(name="author" content="Morgan Aw")
    meta(charset="UTF-8")

    link(rel="stylesheet" href="css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="css/garnish.css" type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700'
         rel='stylesheet'
         type='text/css')
    link(rel="icon" type="image/png" href="images/favicon.ico")

    body
      div(class="navbar navbar-default navbar-static-top")
        div(class="container")
          ul(class="nav navbar-nav navbar-left")
            li(class="top-nav-active" id="intro-top")
              a(href="#" style="margin:0px; padding-top: 3px; padding-bottom: 2px;")
                img(src="Images/Logo2.png")
          ul(class="nav navbar-nav navbar-right")
            li(class="top-nav" id="about-top")
              a(href="#") About Me
            li(class="top-nav" id="projects-top")
              a(href="#") Projects
            li(class="top-nav" id="contact-top")
              a(href="#") Contact Me

      div(class="container full-height")
        div(class="arrow-prev")
          a(href="#")
            img(src="Images/arrow-prev-lrg.png")

        div(class="col-lg-12 page active-page" id="intro")
          h1 Morgan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aw
          hr
          p Software Programmer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          p Empathetic Engineer
          p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adaptive Problem Solver

        div(class="col-lg-12 page" id="about")
          div(class="row header")
            h1 About Me
          p.
            Hi, my name is <b>Morgan Aw</b>.
          p.
            I am a <b>goal-oriented problem solver</b> who enjoys tackling new challenges.
          p.
            I graduated from <b>UC Merced</b> last December with a <b>B.S. in Computer Science and Engineering</b>.
          p.
            Since graduating, I've spent a majority of my time learning <b>front-end web development</b>, exploring the <b>mobile development</b> process, and <b>travelling</b>.

        div(class="col-lg-12 page" id="projects")
          div(class="row header")
            h1 Projects
          
          h2 Current Projects:
          div(class="row well current-proj")
            h3 Android Checklist App
            p.
              Creating a simple checklist app as a starting point into mobile development.
          
          div(class="row well current-proj")
            h3 My Personal Website - http://www.morganaw.com
            p.
              I'll be pushing updates to the website using new technologies whenever I complete a new feature or design.
          
          h2 Previous Projects:
          a(href="projects/v1.zip")
            div(class="row well")
              h3 Version 1 of http://www.morganaw.com
              p.
                The very first implementation of my current site created purely with HTML/CSS.
          a(href="projects/MIPS_processor.zip")
            div(class="row well")
              h3 Virtual MIPS processor
              p.
                Simulated a MIPS processor using C for CSE 31 (Computer Architecture) at UC Merced.
          a(href="projects/AES_proj.zip")
            div(class="row well")
              h3 128 bit AES Encryption Implementation
              p.
                Implemented the AES-128 encryption specifications complete with Round Key Generation, S-Box Byte Substitutions, Row Shifts, Mix Columns, and Round Key Additions.

        div(class="col-lg-12 page" id="contact")
          div(class="row header")
            h1 Contact Information
          
          p.
            I'm currently self-employed and working either on personal projects or exploring different areas of software development.
            If you would like to get in touch about working on a project or job opportunites, I'd love to hear from you.
            I check my email regularly so I'll try to respond whenever I'm free.

          div E-mail:
          a(href="mailto:morgancaw@gmail.com") morgancaw@gmail.com
          br
          br
          h2 My Other Websites
          div My
          a(href="http://www.linkedin.com/pub/morgan-aw/18/557/b75/") LinkedIn
          br
          div My Blog:
          a(href="http://lifelessonsfromgaming.com") Life Lessons from Gaming

        div(class="arrow-next")
          a(href="#")
            img(src="Images/arrow-next-lrg.png")

      div(class="container footer")
        div(class="botnav-container")
          ul(class="dot-container")
            li(class="dot active-dot") &nbsp;
            li(class="dot") &nbsp;
            li(class="dot") &nbsp;
            li(class="dot") &nbsp;
        div Created By: Morgan Aw&nbsp;&nbsp;&nbsp;&nbsp;
        br
        div Last updated: 10/2/2014&nbsp;&nbsp;&nbsp;&nbsp;

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="javascript/fancy.js")